html {
    scroll-behavior: smooth;
    overflow: visible;
}

body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 1.5;
    background: #FFFFFF;
    color: #050517;
    font-family: 'Montserrat', sans-serif;
}

main {margin: 0;}

p{
    color:  #050517;
    font-size: 30px;
}

a{
    color:  #050517;
    outline: none;
    text-decoration: none;
}

#play_button{
    color:  #050517;
    outline:  #050517;
    text-decoration: none;
    background-color: #E01A4F;
    text-align: center;
    padding-bottom: 20px;
    width: 30%;
}

#play_button:hover{
    color: #E01A4F;
    text-decoration: none;
    background-color:#050517;
    text-align: center;
    padding-bottom: 20px;
    width: 30%;
}

#play_button:hover a {
    color: #E01A4F;
}

header{
    width: 100%;
    margin: 0 auto;
    margin-top: 0%;
}

header img{
    border-radius: 0%;
}

header p {
    width: 70%;
    margin: 0 auto;
}

header h1 {
    width: 70%;
    margin: 0 auto;
}

header .content-wrap{
    width: 70%;
    margin: 0 auto;
}

section{
    width: 70%;
    margin: 0 auto;
    padding-bottom: 40px;
}

img{
    object-fit: contain;
    width: 100%;
    border-radius: 7px;
}

#photoSeries img{
    padding: 50px;
}

.carousel{
    padding-bottom: 40px;
}

.carousel-cell img{
    height: 100%;
}

.carousel-cell .vertimg{
    object-fit: contain;
    height: 70vh;
}

video, iframe{
    width: 100%;
    height: 500px;
}

h1{
    font-size: 50px;
    color: #E01A4F;
    font-weight: 900;
    padding: 0;
    margin: 0;
    padding-top: 20px;
}

.content-wrap{
    display:flex;
    width:100%;
    font-size: 20px;
    padding: 0;
}

.content-wrap h3{
    padding: 0;
    font-weight: 800;
    font-size: 23px;
    margin: 0;
    letter-spacing: 2px;
    color: #e09daf;
}

.content-wrap p{
    font-size: 20px;
    font-weight: 200;
    padding: 0;
    margin: 0;
}

.column{
    width:33%;
    padding: 5px;
}

/* -----------------------nav styles ------------------ */

#back{
    position: fixed;
    top: 4%;
    left: 4%;
    font-size: 40px;
    transition: 0.3s;
}

#up{
    position: fixed;
    top: 4%;
    right: 4%;
    font-size: 40px;
    transition: 0.3s;
}

#back:hover{
    transition: 0.3s;
    color: #E01A4F;
    font-weight: 900;
}

#up:hover{
    transition: 0.3s;
    color: #E01A4F;
    font-weight: 900;
}

footer{
    text-align: center;
    margin-bottom: 10vh;
    padding-top: 100px;
}

 /* --------------------CAROUSEL STYLES----------------------- */

 .carousel-cell {
    width: 60%;
    height: 70vh;
    margin: 0px 50px;
    opacity: 0.1;
    border-radius: 5px;
    counter-increment: gallery-cell;
    transition: 0.5s;
    overflow: hidden;
}

.vert{
    width: 29%;
    height: auto;
}



.is-selected{
    /* background: #EFC88B; */
    opacity: 1;
}

/* no circle */
.flickity-button {
    background: transparent;
}
/* big previous & next buttons */
.flickity-prev-next-button {
    width: 100px;
    height: 100px;
}

 /* icon color */
.flickity-button-icon {
    transition: 0.25s;
    fill:  #050517;
}

 /* hide disabled button */
.flickity-button:disabled {
    display: none;
}
.flickity-button:hover{
    background: rgba(255,255,255,0%);
}
.flickity-button:hover .flickity-button-icon{
    fill: #E01A4F;
    transform: scale(1.1);

}

.flickity-prev-next-button.previous {
    left: 15%;
  }
.flickity-prev-next-button.next {
    right: 15%;
}

flickity-page-dots {
    bottom: -22px;
}

.flickity-page-dots .dot {
    background: #050517;
}

.flickity-page-dots .dot.is-selected {
    background: #E01A4F;
}


/* --------------------SIDENAV STYLES----------------------- */
.side-nav-wrap{
    position: fixed;
    height: 99vh;
    left: 20px;
    bottom: 0;
}

.side-nav{
    display:flex;
    flex-direction: column;
    color:#050517;;
}

.nav-item{
    padding: 20px 20px;
    text-align: center;
}

.nav-marker{
    display: block;
    background: #050517;
    height: 5px;
    width: 30px;
    position: relative;
}


.nav-title{
    width: 200px;
    font-size: 15px;
    text-align: left;
    position: absolute;
    text-emphasis-style: none;
    text-decoration: none;
    color: #050517;
    transform: translate(0, -25px);
}

.nav-item .nav-marker{
    transition: 0.2s;
}

.nav-item:hover .nav-marker{
    transform: translateX(120px) rotate(90deg);
}

.nav-item .nav-title{
    transition: 0.25s;
    opacity: 0;
}

.nav-item:hover .nav-title{
    opacity: 1;
}

.nav-link{
    padding-top: 20px;
    margin: 0;
    text-align: center;
    height: 35px;
}

#link{
    opacity: 1;
    font-weight: bold;
    font-size: 20px;
    transition: 0.25s;
}

#link:hover{
    font-size: 21px;
    color:#E01A4F;
}


@keyframes grow {
    from {width: 30px;}
    to {width: 40px;}
}
  
@keyframes shrink {
    from {width: 40px;}
    to {width: 30px;}
}
  
@keyframes slide {
    from {
      translate: 0 0;
    }
    to {
      translate: 100px 100px;
    }
}


/* below are 3 wrappers: an outer,middle,and inner to center stuff vertically easily */

.wrap-outer{
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 50px 0;
    padding: 0;
}

.wrap-middle{
    display: table-cell;
    vertical-align: middle;
}

.wrap-inner{
    margin-left: auto;
    margin-right: auto;
    /* width: 400px; */

/* --------------------TABLET CHANGES----------------------- */
@media only screen and (max-width: 1400px) {

    header{
        width: 80%;
        margin: 0 auto;
        margin-top: 10%;
    }

    section{
        width: 80%;
        margin: 0 auto;
        padding-bottom: 40px;
    }

    .content-wrap{
        flex-direction: column;
    }

    .column{
        width:100%;
        padding-bottom: 20px;
    }

    .flickity-prev-next-button.previous {
        left: 13%;
    }
    .flickity-prev-next-button.next {
        right: 13%;
    }

    #back{
        position: fixed;
        top: 2%;
        left: 3%;
        font-size: 30px;
        transition: 0.3s;
    }

    #up{
        position: fixed;
        top: 2%;
        right: 1.5%;
        font-size: 25px;
        transition: 0.3s;
    }

}

@media only screen and (max-width: 800px) {

    h1{
        font-size: 40px;
        color: #E01A4F;
        font-weight: 900;
        padding: 0;
        margin: 0;
        padding-top: 20px;
    }

    p{
        color: #D0D6DD;
        font-size: 20px;
        margin-top: 40px;
        padding-top: 20px;
    }

    #back{
       display: none;
    }

    #up{
        display: none;
    }

    .carousel-cell .vertimg{
        object-fit: contain;
        height: 100vh;
    }

    .carousel-cell {
        width: 80%;
        height: 100vh;
        margin: 0px 50px;
        opacity: 1;
        border-radius: 5px;
        counter-increment: gallery-cell;
        transition: 0.5s;
        overflow: hidden;
    }

    .flickity-prev-next-button {
        width: 50px;
        height: 50px;
    }
    
    .flickity-prev-next-button.previous {
        left: 0;
        /* right: 5%; */

    }
    .flickity-prev-next-button.next {
        right: 0;
    }
}