* {
    margin: 0; 
    padding: 0;
}
::-webkit-scrollbar{
    width: 0px;
    background: transparent;
}
body{
    overscroll-behavior: none;
}
div{
    background-color: brown;
}
canvas {
    width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    z-index: -1;
    overflow: hidden;
}
