* {
    margin: 0; 
    padding: 0;
    overflow:auto;
}
div{
    background-color: brown;
}
canvas {
    width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    z-index: -1;
    overflow: hidden;
}
